<html>
  <head>
    <title>My Website</title>
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM'
      crossorigin='anonymous'
    />

  </head>
  <body>
    <nav class='navbar navbar-expand-lg bg-body-tertiary'>
      <div class='container-fluid'>
        <a class='navbar-brand' href='/'>Dashboard</a>
        <button
          class='navbar-toggler'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#navbarSupportedContent'
          aria-controls='navbarSupportedContent'
          aria-expanded='false'
          aria-label='Toggle navigation'
        >
          <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
          <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
            <li class='nav-item'>
              <a
                class='nav-link active'
                aria-current='page'
                href='/home'
              >Arcade</a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='/about'>About</a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' aria-current='page' href='/blogs'>blogs</a>
            </li>
          </ul>
          {{! refactor since it is going to be sent as an action to a GET request /blogs?<search> }}

          {{#if is_blogs_page}}
            <form method='GET' class='d-flex' role='search' action='/blogs'>
              <input
                class='form-control me-2'
                type='text'
                placeholder='Search blogs'
                aria-label='Search'
                name='search'
                required
              />
              <button
                class='btn btn-outline-success'
                type='submit'
              >Search</button>
            </form>
          {{/if}}

        </div>
      </div>
    </nav>

  </body>
</html>